################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/cach/v14
/src/.vs/cach/v15
/src/cach/obj
/src/cach/bin
/src/cachCore/bin
/src/cachCore/obj
/src/cachCoreTests/bin
/src/cachCoreTests/obj
/src/packages
/src/cachRendering/bin
/src/cachRendering/obj
/src/cachBot/bin
/src/cachBot/obj
bin/
obj/
src/pgn/
