################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/cach/v14
/src/cach/obj/Debug
/src/cach/bin/Debug
/src/cachCore/bin/Debug
/src/cachCore/obj/Debug
/src/cachCoreTests/bin/Debug
/src/cachCoreTests/obj/Debug
/src/packages
